
.header {
    background-color: #051f2c;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(6, 54, 99, 0.24);
    display: flex;justify-content: center;align-items: center;
  
  }

  @media (max-width: 768px) {
    .navigation ul {
      display: none; 
    }
  
    .logo h1 {
      font-size: 1.2rem;
    }
  
    .cart-icon {
      font-size: 1.2rem;
    }
  }
  